<div>
    <h1>Login</h1>

    <form method="post">
        <div>
            <input type="email" name="emailUsuario" placeholder="Email..." value="" />
        </div>
        <div>
            <input type="password" name="contrasenaUsuario" placeholder="Contraseña..." />
        </div>

        <div>
            <input type="submit" value="Ingresar" />
        </div>
    </form>
</div>