<div class="container container-home d-flex p-5 flex-md-row flex-sm-column-reverse">
    <div class="register__container home-modal home-modal__enfasis p-5 register">
        <h1 class="text-center mb-5">Register</h1>

        <form method="post" class="form d-flex flex-column gap-3 justify-content-center align-content-center">
            <fieldset class="d-flex justify-content-between m-1">
                <div class="d-flex align-items-center">
                    <span><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="M480-480q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47ZM160-160v-112q0-34 17.5-62.5T224-378q62-31 126-46.5T480-440q66 0 130 15.5T736-378q29 15 46.5 43.5T800-272v112H160Zm80-80h480v-32q0-11-5.5-20T700-306q-54-27-109-40.5T480-360q-56 0-111 13.5T260-306q-9 5-14.5 14t-5.5 20v32Zm240-320q33 0 56.5-23.5T560-640q0-33-23.5-56.5T480-720q-33 0-56.5 23.5T400-640q0 33 23.5 56.5T480-560Zm0-80Zm0 400Z" /></svg></i></span>
                    <input class="form-control form-control-sm form-input" type="text" name="Nombre" placeholder="Nombre..." />
                </div>
                <div class="mx-1 d-flex align-items-center gap-1">
                    <span><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="M480-480q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47ZM160-160v-112q0-34 17.5-62.5T224-378q62-31 126-46.5T480-440q66 0 130 15.5T736-378q29 15 46.5 43.5T800-272v112H160Zm80-80h480v-32q0-11-5.5-20T700-306q-54-27-109-40.5T480-360q-56 0-111 13.5T260-306q-9 5-14.5 14t-5.5 20v32Zm240-320q33 0 56.5-23.5T560-640q0-33-23.5-56.5T480-720q-33 0-56.5 23.5T400-640q0 33 23.5 56.5T480-560Zm0-80Zm0 400Z" /></svg></i></span>
                    <input class="form-control form-control-sm form-input" type="text" name="Apellido" placeholder="Apellido..." />
                </div>
            </fieldset>
            
            <div class="mx-1 d-flex gap-1">
                <span><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="M160-160q-33 0-56.5-23.5T80-240v-480q0-33 23.5-56.5T160-800h640q33 0 56.5 23.5T880-720v480q0 33-23.5 56.5T800-160H160Zm320-280L160-640v400h640v-400L480-440Zm0-80 320-200H160l320 200ZM160-640v-80 480-400Z" /></svg></span>
                <input class="form-control form-control-sm form-input" type="email" name="Email" placeholder="Email..." />
            </div>
            <div class="mx-1 d-flex gap-1">
                <span><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="M80-200v-80h800v80H80Zm46-242-52-30 34-60H40v-60h68l-34-58 52-30 34 58 34-58 52 30-34 58h68v60h-68l34 60-52 30-34-60-34 60Zm320 0-52-30 34-60h-68v-60h68l-34-58 52-30 34 58 34-58 52 30-34 58h68v60h-68l34 60-52 30-34-60-34 60Zm320 0-52-30 34-60h-68v-60h68l-34-58 52-30 34 58 34-58 52 30-34 58h68v60h-68l34 60-52 30-34-60-34 60Z" /></svg></span>
                <input class="form-control form-control-sm form-input" type="password" name="Password" placeholder="Contraseña..." />
            </div>

            <div class="d-flex justify-content-center my-4">
                <input class="btn-primary form-control form-control-sm btn-menu" type="submit" value="Registrarse" />
            </div>
        </form>
    </div>

    <div class="login__container home-modal home-modal__inaccesible p-5 login" onclick="window.location.href='@Url.Action("Login", "Home")'">
        <h1 class="text-center mb-5">Login</h1>

        <form method="post" class="form d-flex flex-column gap-3 justify-content-center align-content-center">
            <div class="mx-1 d-flex gap-1">
                <span><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="M160-160q-33 0-56.5-23.5T80-240v-480q0-33 23.5-56.5T160-800h640q33 0 56.5 23.5T880-720v480q0 33-23.5 56.5T800-160H160Zm320-280L160-640v400h640v-400L480-440Zm0-80 320-200H160l320 200ZM160-640v-80 480-400Z" /></svg></span>
                <input disabled class="form-control form-control-sm form-input" type="email" name="Email" placeholder="Email..." />
            </div>
            <div class="mx-1 d-flex gap-1">
                <span><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="M80-200v-80h800v80H80Zm46-242-52-30 34-60H40v-60h68l-34-58 52-30 34 58 34-58 52 30-34 58h68v60h-68l34 60-52 30-34-60-34 60Zm320 0-52-30 34-60h-68v-60h68l-34-58 52-30 34 58 34-58 52 30-34 58h68v60h-68l34 60-52 30-34-60-34 60Zm320 0-52-30 34-60h-68v-60h68l-34-58 52-30 34 58 34-58 52 30-34 58h68v60h-68l34 60-52 30-34-60-34 60Z" /></svg></span>
                <input disabled class="form-control form-control-sm form-input" type="password" name="Password" placeholder="Contraseña..." />
            </div>

            <div class="d-flex justify-content-center my-4">
                <input disabled class="btn-primary form-control form-control-sm btn-menu" type="submit" value="Ingresar" />
            </div>
        </form>
    </div>
</div>

@{
    if(!string.IsNullOrEmpty(ViewBag.msg)) // Chequeo si hay un mensaje que mostrar
    {
        if(string.IsNullOrEmpty(ViewBag.msgType))
        {
            <div id="alertModal" class="alert-modal__home alert alert-danger d-flex gap-2" role="alert">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#842029"><path d="m40-120 440-760 440 760H40Zm138-80h604L480-720 178-200Zm302-40q17 0 28.5-11.5T520-280q0-17-11.5-28.5T480-320q-17 0-28.5 11.5T440-280q0 17 11.5 28.5T480-240Zm-40-120h80v-200h-80v200Zm40-100Z" /></svg>
                <p class="m-0">@ViewBag.msg</p>
            </div>
        } else {
            <div id="alertModal" class="alert-modal__home alert alert-success d-flex gap-2" role="alert">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#0f5132"><path d="M440-280h80v-240h-80v240Zm40-320q17 0 28.5-11.5T520-640q0-17-11.5-28.5T480-680q-17 0-28.5 11.5T440-640q0 17 11.5 28.5T480-600Zm0 520q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z" /></svg>
                <p class="m-0">@ViewBag.msg</p>
            </div>
        }
}
}