@{
    // Hago esto para luego validar y quitar tanto footer como header en el login
    var userRol = Context.Session.GetString("userRol");
} 

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TiendaORT</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Obligatorio2WebApp.styles.css" asp-append-version="true" />
    <link rel="shortcut icon" href="~/favicon.ico" asp-append-version="true" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">


</head>
<body>
    @if (userRol is not null)
    {
        <header id="webAppHeader">
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3">
                <div class="container-fluid">
                    <a class="navbar-brand" asp-area="" asp-controller=@userRol asp-action="Index">TiendaORT</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">

                        <ul class="navbar-nav flex-grow-1">

                        @if (userRol == "Cliente")
                        {
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="Cliente" asp-action="Perfil">Perfil</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="Cliente" asp-action="Publicacion">Publicaciones</a>
                                </li>
                        }
                        @if (userRol == "Administrador")
                        {
                            
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="Administrador" asp-action="Publicacion">Subastas</a>
                                </li>
                        }

                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index"><svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#FFFFFF"><path d="M216-144q-29.7 0-50.85-21.15Q144-186.3 144-216v-528q0-29.7 21.15-50.85Q186.3-816 216-816h264v72H216v528h264v72H216Zm432-168-51-51 81-81H384v-72h294l-81-81 51-51 168 168-168 168Z" /></svg></a>
                            </li>

                        </ul>
                    </div>
                </div>
            </nav>
        </header>
    }
    
    <div class="container container-full my-0 mx-auto">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @if (userRol is not null)
    {
        <footer id="webAppFooter" class="border-top footer text-muted d-flex justify-content-around">
            <div>
                &copy; 2024 - TiendaORT - 339429
            </div>

            <div>
                <img class="img-fluid logo" src="/img/TiendaORTLogoBlanco.svg"/>
            </div>
        </footer>
    }
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
